@media (max-width: 480px) {
  body {
      font-size: 12px !important;
  }

  h1 {
      font-size: 18px !important;
  }
  h2 {
    font-size: 14px !important;
}

  h3 {
      font-size: 16px !important;
  }

  table {
      font-size: 10px  !important; 
  }

  th, td {
      padding: 5px;
  }
}


/* Show dropdown on hover */
.navbar .dropdown:hover > .dropdown-menu {
  display: block;
}

/* Optional: smooth hover */
.dropdown-menu {
  margin-top: 0;
}


.iframe-container {
  width: 100%;
  height: 90%; /* 90% of the viewport height */
  overflow: hidden;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}



.center-text {
  text-align: center;
}

.color h3 {
  color: #000000;
}

.colorblack h3 {
  color: white;
}

.colorblack:hover  h3 {
  color: black;
}


.color {
  margin: 15px;
  padding: 50px;
  color: white;
  border-radius: 10px;
  background-color: #4285f4;
  box-shadow: 10px 10px 5px #afafaf;
}

.colorblack {
  margin: 15px;
  padding: 50px;
  color: white;
  border-radius: 10px;
  background-color: #000000;
  box-shadow: 10px 10px 5px #afafaf;
}

.shapeboxes-current{

border-radius: 50%;
border: 1px solid rgb(2, 9, 119);
   box-shadow: 3px 3px 3px 3px rgba(179, 179, 179, 0.555);

}

.shapeboxes-current img{

border-radius: 50%;
margin: 5px;


}

.shapeboxes p{

  color:black;


}

.ppt {
  margin: 15px;
  margin-bottom: 49px;
  padding: 15px;
  padding-bottom: 50px; 
  border-radius: 10px;
  box-shadow: 10px 10px 5px #afafaf;
}

.color img {
  margin: 0px;
  width: 100px;
  height: 100px;
  color: white;
  border-radius: 10px;
  background-color: rgb(0, 207, 255);
}

.subject{

  width: 100px;
  height: 100px;
  background-color: #4285f4;
  padding: 15px;
  margin: 15px 50px;
  color: #000000;

}

.subject a{

  color: #000000;
}

.subject img {
  margin: 0px;
  width: 150px;
  height: 150px;
  color: white;
  border-radius: 10px;
  background-color: rgb(0, 207, 255);
}

.subject2{



}

.subject2 img {
  margin: 0px;
  width: 100px;
  height: 100px;
  color: white;
  border-radius: 10px;
  background-color: rgb(0, 207, 255);
}


.colorblack img {
  margin: 0px;
  width: 100px;
  height: 100px;
  color: black;
  border-radius: 10px;
  background-color: rgb(0, 207, 255);
}

.colorblack:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(16, 17, 0);
  border: 2px solid rgb(2, 1, 17);
  box-shadow: 10px 10px 5px #f3f3f3;
}

.color:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(216, 219, 5);
  border: 2px solid rgb(202, 182, 0);
  box-shadow: 10px 10px 5px #f3f3f3;
}

.color a {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
}

.colorblack a {
  color: #000000;
  text-decoration: none;
  background-color: transparent;
}

.syllabus {
  color: rgb(0, 0, 121);
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid rgb(59, 46, 181);
}

th, td {
  padding: 10px;
  text-align: left;
  border: 1px solid rgb(59, 46, 181);
}

th {
  background-color: #f2f2f2;
}

.demo-performance {
  font-style: italic;
  color: #555;
}

.photoshop_content {
  margin-top: 55px;
}

a {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent; 
}

.heading-color h1 {
  color: purple;
}


.shapeboxes{
  width: 120px;;  /* Define a fixed width */
  height: 160px; /* Define a fixed height */
  padding: 10px; /* Optional padding */
  color: white; /* Make text visible */
  border-radius: 50%; /* Ensures circular shape */
  background-color: rgba(0, 0, 0, 0); /* Background color */
  margin:10px;
  align-items: center;
  text-align: center;

}

.shapeboxes p{

  font-size: 14px;
}

.subjectsfont p
{

  font-size: 50px;

}

.shapeimg img{

  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 5px solid red; 
  
  }

.shape{


  display: flex; /* Helps center text */
  justify-content: center;
  margin: 5px;
}

.navbar{

background-color: #4d3dff !important ;
box-shadow: 1px 2px 1px 2px grey;
}


.align {

  align-items: left;
}